<p style="color: green"><%= notice %></p>

<%= render @cliente %>

<div class="button">
  <%= link_to "Editar cliente", edit_cliente_path(@cliente), class:"btn btn-outline-secondary" %> 
  <%= link_to "Volver a clientes", clientes_path, class:"btn btn-outline-secondary" %>

  <%= button_to "Eliminar cliente", @cliente, method: :delete, class:"btn btn-outline-secondary" %>
</div>
