<p style="color: green"><%= notice %></p>

<%= render @pelicula %>


<div class="button">
  <%= link_to "Editar película", edit_pelicula_path(@pelicula), class:"btn btn-outline-secondary" %> |
  <%= link_to "Volver a películas", peliculas_path, class:"btn btn-outline-secondary" %>

  <%= button_to "Destruir película", @pelicula, method: :delete, class:"btn btn-outline-secondary" %>
</div>

